<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href={{ asset ("41.jfif")}} type="image/png">
	<title>CV</title>
	<link rel="stylesheet" href={{asset("http://www.w3schools.com/lib/w3.css")}}>
	<!-- main css -->
	<link rel="stylesheet" href={{asset("front.css")}}>
    <script src="https://kit.fontawesome.com/f8657305ae.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{asset("nicepage1.css")}} media="screen">
<link rel="stylesheet" href={{asset("Accueil1.css")}} media="screen">
    <script class="u-script" type="text/javascript" src={{asset("jquery1.js")}} defer=""></script>
    <script class="u-script" type="text/javascript" src={{asset("nicepage1.js")}} defer=""></script>
	
	
	
	
	
	
	
</head>

<body>

    <!-- navigation bar --> 

    <nav>
 
        <!-- left bar --> 

        <div class="nav-left">
        <input type ="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
          </label>
            <img src={{asset("25.jpg")}} class="logo"  >
            <ul>
                
                <li><a  href={{asset("/front")}}>Profil</a></li>
				<li ><a  href={{asset("/etudes")}}>Etudes</a></li>
				<li ><a  href={{asset("/experience")}}>Experience et projets</a></li>
				<li ><a  href={{asset("contact.html")}}>contact</a></li>
                <li ><a  href={{asset("contact.html")}}></a></li>
                <li ><a  href={{asset("contact.html")}}></a></li>
                <li ><a  href={{asset("contact.html")}}></a></li>
                
            </ul>
            <div class="not">
            </div>
            <div class="ins"></div>
            <div class="vids"></div>
<div class="nav-right">
       
        <div class="user online" onclick="settingstoggle()">
            <img src={{asset("17.jpg")}} width="60" height="100">
        </div>
</div> 
    </div>

    <!-- right bar --> 

    

<!-- leblaka taa deconnexion --> 

<div class="settings">
    <div id="dark" >
        <span></span>
    </div>
    
    <div  class="sttings">
    <div class="userprof">
        <img src={{asset("78.png")}} >
        
            <p><font color ="grey">change mode</font></p>
            
        
    </div>
    </div>
    </nav>




<!-- ilwesstt --> 

     <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="carousel_7721">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-29 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-direction="">Ghassen Marzouk</h2>
                  <p class="u-custom-font u-font-montserrat u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500">étudiant en 1 ére année cycle ingénieur en informatique à Esprit.<br>
                    
                    <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-direction="">compétences</h2>
                  <p class="u-custom-font u-font-montserrat u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500">Java <br> Html<br>Css<br>Javascript<br>Php<br>C<br>Java Fx<br>Python<br>SQL/PLSQL<br>UML<br>Symfony 4<br>symfony 5<br>MySql<br>Power BI<br>git/github<br>
                    <br>
                    <span style="font-weight: 700;"></span>
                  </p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-image u-layout-cell u-size-31 u-image-1" data-image-width="724" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
             
        </div>
      </div>
    </section>
    

    <!-- ilwesst --> 

        
    
 <script src={{asset("front.js")}}></script> 
</body>
</html>